{
    "env": {
      "node": true,
      "jest": true
    },
    "extends": "airbnb-base",
    "rules": {
      "no-underscore-dangle": "off",
      "linebreak-style": "off",
      "import/no-extraneous-dependencies": "off",
      "import/extensions": "off",
      "no-undef": "off",
      "no-unused-vars": "warn",
      "indent": ["error", 2],
      "no-console": "off"
    }
}
